<!-- <input valueBinding='file' type='file' id='file-field' value=model.attachment onchange={{action 'upload'}}/>
<br>
{{#if model.attachment}}
    <a href="" download={{upload}}>{{model.attachment.name}}</a>
{{/if}} -->

<h1>FileData upload test</h1>
<br>
<br>
{{file-upload filesLoaded=(action "filesLoaded")}}
<br>
{{model.attachment.name}}
<br>
{{model.attachment.type}}
<br>
{{model.attachment.size}}
<br>
<!-- faz download -->
<a id="download" href="{{model.conteudo_arquivo}}" download>{{model.attachment.name}}</a>

<br>
<!-- redireciona página -->
<a id="download" href="{{model.conteudo_arquivo}}">{{model.attachment.name}}</a>
<br>
<!-- mostra a imagem na tela -->
<img src="{{model.conteudo_arquivo}}" id="image" class="small-image"  />
<br>
<!-- faz o download da imagem -->
<img src="{{model.conteudo_arquivo}}" id="image" class="small-image" download />
